@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --primary-color: rgb(1, 42, 1);
  --secondary-color: rgb(218, 59, 59);
  --secondary-color-m: rgba(218, 59, 59, 0.712);
  --tertiary-color: rgb(155, 114, 27);
  --tertiary-color-m: rgba(0, 70, 87, 0.952);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", Courier, monospace;
  line-height: 1.8rem;

  display: flex;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}

aside#side-nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
}

div.side-nav_content {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--primary-color);
}

div.side-nav_content-logo img {
  width: calc(2vw + 2vh);
  object-fit: cover;
  padding: 10px 10px 0 10px;
}

ul.side-nav_content-social {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

ul.side-nav_content-social a {
  font-size: calc(1rem + 0.66667vw);
  color: white;
  padding-bottom: calc(2rem + 0.66667vw);
}

ul.side-nav_content-social a i:hover,
ul.side-nav_content-social a i:active {
  color: var(--secondary-color);
}

main {
  flex: 1;
}

header#header {
  width: 96.2vw;
  background-color: transparent;
  height: calc(2.5vw + 2.5vh);
  z-index: 2;
  position: fixed;
}

nav#header_main-nav {
  height: 100%;
}

nav#header_main-nav:hover {
  background-color: rgba(218, 165, 32, 0.616);
  transition: background-color 0.7s linear;
}

ul.header_main-nav--links {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bolder;
}

ul.header_main-nav--links li {
  padding: 0 10px;
}

ul.header_main-nav--links li a {
  position: relative;
  padding: 0.2rem 0.6rem;
  font-size: calc(1rem + 0.66667vw);
}

ul.header_main-nav--links li a:link::before,
ul.header_main-nav--links li a:visited::before,
ul.header_main-nav--links li a:link::after,
ul.header_main-nav--links li a:visited::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background-color: white;

  transform: scaleX(0);
  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
}

ul.header_main-nav--links li a:link::before,
ul.header_main-nav--links li a:visited::before {
  top: 0;
  transform-origin: left;
}

ul.header_main-nav--links li a:link::after,
ul.header_main-nav--links li a:visited::after {
  bottom: 0;
  transform-origin: right;
}

ul.header_main-nav--links li a:hover::before,
ul.header_main-nav--links li a:active::before,
ul.header_main-nav--links li a:hover::after,
ul.header_main-nav--links li a:active::after {
  transform: scaleX(1);
}
.cotent {
  background-color: rgba(0, 0, 0, 0.534);
}
#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#showcase {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.showcase_content {
  background-color: rgba(218, 165, 32, 0.623);
  padding: calc(1rem + 2vw);
  height: calc(5rem + 20vmax);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  animation: hero 2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes hero {
  0% {
    transform: translateX(100rem) rotate(360deg);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.showcase_content-title {
  font-size: calc(2rem + 2vw);
  color: white;
}
.showcase_content-para {
  font-family: "Lato", Courier, monospace;
  font-size: calc(1.5rem + 1vw);
  color: white;
}

.showcase_content-link:link,
.showcase_content-link:visited {
  padding: 1rem 0.5rem;
  transition: all 0.5s ease-in-out;
  width: 100%;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  position: relative;
  z-index: 1;
}

.showcase_content-link:link::after,
.showcase_content-link:visited::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.45s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.showcase_content-link:hover::after,
.showcase_content-link:active::after {
  transform: scaleX(1);
  transform-origin: left;
  z-index: -1;
}

section#project {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  padding: 2rem;
  background-color: black;
}

div.project_card {
  background-color: black;
  padding: 2rem;
  flex-basis: 50rem;
  flex-grow: 1;
  border: 3px solid darkgoldenrod;

  clip-path: polygon(
    5% 0%,
    95% 0%,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0% 95%,
    0% 5%
  );
}

div.project_card img {
  height: 90%;
  width: 100%;
  object-fit: cover;
}

div.project_card img:hover,
div.project_card img:active {
  filter: sepia(80%);
}

.project_link,
.url {
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: bold;
  background-color: whitesmoke;
}
.project_title {
  padding: 0 10px;
}
.url_code a,
.url_live a {
  padding: 0 10px;
  color: black;
}

@media screen and (max-width: 360px) {
  nav#header_main-nav li a {
    font-size: calc(1rem + 0.66667vw);
  }

  .about_dota-content--title {
    font-size: calc(1rem + 0.6667vw);
  }

  .about_dota-content--title:after {
    width: 63%;
  }
}

@media screen and (max-width: 610px) {
  header#header {
    position: absolute;
  }
  nav#header_main-nav {
    width: 30rem;
    height: 100%;
    position: fixed;
    top: 0;
    right: -30rem;
    background-color: var(--secondary-color-m);
    text-align: center;
  }
  nav#header_main-nav li a {
    font-size: calc(1.5rem + 0.66667vw);
  }

  nav#header_main-nav.clicked {
    top: 0;
    right: 0;
  }

  .header_main-nav--dota2 {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    cursor: pointer;
    background-color: var(--secondary-color-m);
    padding: 1rem;
    border-radius: 50%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .line {
    width: 100%;
    height: 0.3rem;
    background-color: white;
    border-radius: 0.2rem;
    transition: all 0.4s ease-in-out;
  }

  .header_main-nav--links {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .header_main-nav--links li {
    margin-bottom: 4vh;
    margin-left: 6vw;
  }

  .clicked .line-1 {
    transform: rotateZ(-405deg) translate(-0.8rem, 0.6rem);
  }
  .clicked .line-2 {
    opacity: 0;
  }
  .clicked .line-3 {
    transform: rotateZ(405deg) translate(-0.8rem, -0.6rem);
  }

  ul.header_main-nav--links li {
    opacity: 0;
  }

  ul.header_main-nav--links li:nth-child(1) {
    transition: all 0.5s ease-in-out 0.2s;
  }
  ul.header_main-nav--links li:nth-child(2) {
    transition: all 0.5s ease-in-out 0.4s;
  }
  ul.header_main-nav--links li:nth-child(3) {
    transition: all 0.5s ease-in-out 0.6s;
  }
  ul.header_main-nav--links li:nth-child(4) {
    transition: all 0.5s ease-in-out 0.8s;
  }
  ul.header_main-nav--links li:nth-child(5) {
    transition: all 0.5s ease-in-out 1s;
  }
  ul.header_main-nav--links li:nth-child(6) {
    transition: all 0.5s ease-in-out 1.2s;
  }
  ul.header_main-nav--links li.fade {
    opacity: 100%;
  }

  section#showcase {
    align-items: flex-start;
  }
}

@media screen and (max-width: 900px) {
  section#showcase {
    align-items: flex-end;
  }
}
